.filter {
  display: flex;
}

.filter__icon {
  margin-right: 5px;
  color: rgba(32, 30, 30, 0.836);
  border: none;
  background: none;
}

.filter__select {
  border: none;
  color: rgba(32, 30, 30, 0.836);
  background: none;
}
