.navigator {
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navigator__title {
  padding: 5px 0 5px 5%;
  font-size: 1.5rem;
  font-weight: 900;
}

.navigator__nav {
  padding: 5px 5% 5px 0;
  display: flex;
  align-items: center;
}

.navigator__nav__link {
  color: white;
  padding: 0 20px;
  text-decoration: none;
}

.navigator__nav__link:hover {
  cursor: pointer;
  color: tomato;
}
