.pokemon-container {
  display: flex;
  width: 100vw;

  margin-top: 150px;
}

.pokemon-container__left {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin-left: 20%;
  margin-right: 80px;
}
.pokemon-container__left__button {
  margin-bottom: 40px;
  cursor: pointer;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
}

.pokemon-container__left__button:hover {
  background-color: black;
  color: #fafbfc;
}

.pokemon-container__right {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 10%;
}

.bio {
  width: 100%;
}

.bio__general-description {
  margin-bottom: 20px;
}

.bio__height,
.bio__weight,
.bio__abilities {
  margin-bottom: 10px;
  display: flex;
  text-align: left;
}

.bio__height__title,
.bio__weight__title,
.bio__abilities__title {
  width: 120px;
}

.evolution__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pokemon-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pokemon-buttons__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pokemon-buttons__container:hover {
  cursor: pointer;
  zoom: 105%;
}

.pokemon-buttons__sprites {
  width: 80%;
}
