.searchbar {
  margin-right: 20px;
}

.searchbar__button {
  border: none;
  background: none;
  color: rgba(32, 30, 30, 0.836);
}

.searchbar__input {
  border: none;
  background: none;
}

.searchbar__input:focus {
  outline: none;
}

.searchbar__input::placeholder {
  color: rgba(32, 30, 30, 0.836);
}
